body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.731) !important; /* Ensure background color is set and override other styles */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-card h2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 20px;
    padding: 10px 15px;
}

.btn {
    border-radius: 20px;
}

.lupaPW {
    text-align: right;
    margin-bottom: 1rem;
}
